@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-text: var(--text);
  --color-text-offset: var(--text-offset);
  --color-background: var(--background);
  --color-background-offset: var(--background-offset);
  --color-border: var(--border);
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #a987ff;
  --secondary: #fd5d13;
  --accent: #e4f50f;
  --success: #c1e600;
  --warning: #ff8142;
  --error: #ff8142;
  --text: #0a353a;
  --text-offset: #134f55;
  --background: #ffffff;
  --background-offset: #f8f9fa;
  --border: rgb(10 53 58 / 10%);
}

.dark {
  --primary: #a987ff;
  --secondary: #fd5d13;
  --accent: #e4f50f;
  --success: #c1e600;
  --warning: #ff8142;
  --error: #ff8142;
  --text: #ffffff;
  --text-offset: #fdb0bc;
  --background: #0a353a;
  --background-offset: #134f55;
  --border: rgb(255 255 255 / 10%);
}

.unides-brand {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-style: normal;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-primary via-purple-400 to-purple-600;
}


@layer base {
  *,
  *::after,
  *::before,
  *::backdrop,
  ::file-selector-button {
    border-color: var(--border);
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}