@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "primary";
  src: url("/fonts/hello-world.ttf") format("truetype");
  /* font-weight: normal; */
  /* font-style: normal; */
}

@font-face {
  font-family: "secondary";
  src: url("/fonts/cecep.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    font-family: "primary", sans-serif;
    font-size: 2rem;
    color: #003239;
  }
}
