@import "tailwindcss";

@source inline("bg-unides-purple bg-unides-purple-dark bg-unides-lime bg-unides-green bg-unides-green-dark bg-unides-orange bg-unides-pink bg-unides-gray bg-unides-text bg-unides-text-dark");
@source inline("after:bg-unides-lime after:bg-unides-purple after:bg-unides-green after:bg-unides-green-dark after:bg-unides-orange after:bg-unides-pink after:bg-unides-gray after:bg-unides-text after:bg-unides-text-dark");

@theme {
  /* Unides Color Palette */
  --color-unides-purple: #A987FF;      
  --color-unides-purple-dark: #9747FF;
  --color-unides-lime: #D9FD12;       
  --color-unides-green: #20656F;       
  --color-unides-green-dark: #043239;  
  --color-unides-orange: #FD5D13;
  --color-unides-pink: #FF8F9D;       
  --color-unides-gray: #D9D9D9;
  --color-unides-text: #1C5D67;       
  --color-unides-text-dark: #0A353A;

  /* Fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-jaro: "Jaro", sans-serif;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@layer base {
  *,
  *::after,
  *::before,
  *::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
  }
}